@model FitGym.Web.ViewModels.Posts.AllPostsInCategoryViewModel
@{
    this.ViewData["Title"] = "Posts";
}
<div class="text-center">
    <a asp-controller="Posts" asp-action="Create" asp-route-id="@Model.CategoryId" class="btn btn-primary btn-lg">Create new forum post</a>
</div>
@foreach (var post in Model.Posts)
{
    <h1>@post.Title</h1>
    <p>@post.Content</p>
    @foreach (var comment in post.Comments)
    {
        <div class="container-fluid mt-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="media flex-wrap w-100 align-items-center">
                                <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                                <div class="media-body ml-3">
                                    @comment.UserUserName
                                    <div class="text-muted small">
                                        <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                    </div>
                                    <div>
                                        @comment.Content
                                    </div>
                                </div>
                                <div class="text-muted small ml-3">
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <div class="px-4 pt-3"> <button type="button" class="btn btn-secondary" onclick="showAddCommentForm(@comment.Id)"><i class="fa fa-plus"></i>&nbsp; Answer</button> </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }
}

