@model FitGym.Web.ViewModels.Posts.AllPostsInCategoryViewModel
@{
    this.ViewData["Title"] = "Posts";
}
<div class="text-center">
    <a asp-controller="Posts" asp-action="Create" asp-route-id="@Model.CategoryId" class="btn btn-primary btn-lg">Create new forum post</a>
</div>
@foreach (var post in Model.Posts)
{
    <div class="media border p-3">
        <img src="@post.UserProfilePictureUrl" alt="@post.UserUserName" class="mr-3 mt-3 rounded" style="width:100px;">
        <div class="media-body">
            <h4><a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a></h4>
            <h6>@post.UserUserName <small><i>Posted on @post.CreatedOn</i></small></h6>
        </div>
    </div>
}

