@model FitGym.Web.ViewModels.Workouts.AllWorkoutsViewModel

<div class="row">
    @foreach (var workout in Model.Workouts)
    {
        <div class="col-sm-6 media">
            <div class="row">
                <h1>@workout.Name</h1>
            </div>
            <div class="row">
                <h3>@workout.StartTime</h3>
            </div>
            <div class="row">
                <h3>@workout.EndTime</h3>
            </div>
            <div class="row">
                <p>Number of joined people : @workout.ClientsCount</p>
            </div>
            <div class="row">

                @foreach (var name in workout.TrainersNames)
                {
                    <p>Trainer : @name</p>
                }
            </div>
        </div>
    }
</div>