@model FitGym.Web.ViewModels.Workouts.AllWorkoutsViewModel

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Workout</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Trainers</th>
            <th scope="col">Number of people</th>
        </tr>
    </thead>
    @foreach (var workout in Model.Workouts)
    {
        <tbody>
            <tr>
                <td>@workout.Name</td>
                <td>@workout.StartTime</td>
                <td>@workout.EndTime</td>
                <td>
                    @foreach (var name in workout.TrainersNames)
                    {
                        <p>@name</p>
                    }
                </td>

                <td>@workout.ClientsCount</td>
            </tr>
        </tbody>
    }
    </table>